body {
  background-color: #2c3e50;
  font-family: "Noto Sans KR", sans-serif;
  color: #3a3a3a;
}

.glassify {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
}

/* basic form */

.js-form,
.js-toDoForm {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}

/* content styles */

.js-clock {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.js-weather {
  font-weight: bold;
  font-style: italic;
}

.avatar {
  border-radius: 50%;
  width: 130px;
  margin: 2.5rem 0;
}

.username {
  font-size: 1.5rem;
  margin-bottom: 0.65rem;
  font-weight: bold;
}

.form {
  width: 100%;
  text-align: center;
}

h5 {
  margin-bottom: 15px;
}

input[type="text"] {
  border: none;
  text-align: center;
  width: 50%;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: 6px 10px 18px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5rem);
  font-style: italic;
  font-weight: bold;
}

/* centerform styles */

#cont {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.glass {
  display: flex;
  min-width: 50%;
  min-height: 50vh;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(0.8rem);
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.profile {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem 0 0 2rem;
  padding: 1.3rem 2rem;
}

.content {
  display: flex;
  flex: 6;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.nameform {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.nameform input {
  position: relative;
  top: 100px;
  height: 30%;
  width: 80%;
}

.todoform input {
  width: 30%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.4)
  );
}

h2 {
  position: absolute;
  font-size: 450%;
  font-weight: 500;
  font-style: italic;
  opacity: 0.12;
  z-index: -1;
}
/* TODOITEMS */

.items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.todoitems {
  width: 80%;
}

.items li {
  display: flex;
  width: 85%;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid #5a5a5a;
  padding: 0 5px 12px;
}

.items li span {
  margin-right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.items button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.items button i {
  color: #2a2a2a;
}